.mainContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.canvasWrapper {
  width: 700px;
  height: 700px;
  border: 2px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
